<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.DB20192001399ConnectionString"
            connectionString="Data Source=3.128.144.165;Initial Catalog=DB20192001399;Persist Security Info=True;User ID=Omar.Diaz;Password=OD20192001399"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>